.navbar {
    text-align: right;
    background: #046572;
    color: white;
    /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
}
.divider{
  width:10px;
  height:auto;
  display:inline-block;
}

button {
  border: 10px outset darkgrey;
  background: grey;
}
