body {
  padding: 0;
  margin: 0 0;
  font-family: sans-serif;
  background: url("./images/background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}